<!--<div id="pop-up">-->
<!--  <span>Help radish visit all purple points!</span>-->
<!--  <div id="canvas-div">-->
<!--    <span [textContent]="someText"></span>-->
<!--    <canvas id="canvas" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>-->
<!--  </div>-->
<!--  <div id="panel">-->
<!--    <i class="fa fa-caret-left fa-2x"></i>-->
<!--    <button id="button" (click)="closePopUp()">Ok!</button>-->
<!--    <i class="fa fa-caret-right fa-2x" (click)="onNext()"></i>-->
<!--  </div>-->
<!--</div>-->

<div id="pop-up">
  <span [textContent]="content.headerContent"></span>
  <div id="canvas-div">
    <canvas id="canvas" width="{{content.canvasWidth}}" height="{{content.canvasHeight}}"></canvas>
  </div>
  <div id="panel">
    <i class="fa fa-caret-left fa-2x" (click)="onPrev()"></i>
    <button id="button" [textContent]="content.buttonValue" (click)="closePopUp()"></button>
    <i class="fa fa-caret-right fa-2x" (click)="onNext()"></i>
  </div>
</div>
