#pop-up {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: KBSticktoIt;
  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;

  color: rgba(187, 116, 251, 0.83);

  width: 500px;
  height: 500px;
}

#button {
  background-color: #58fbce;
  font-family: KBSticktoIt;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}

#panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  width: 300px;
  height: 50px;
}

.icon:hover {
  color: #58fbce;
}

.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.23);
}

span {
  text-align: center;
}

#text {
  text-align: center;
}
