#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#pop-up {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;

  width: 500px;
  height: 500px;
}
