@font-face {
  font-family: "KBSticktoIt";
  src: url("../../fonts/KBSticktoIt.ttf") format("woff2"),
  url("../../fonts/Littlemisspriss-LPlW.ttf") format("woff");
}

#block
{
  margin-left: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 25px;
  height: 700px;
  width: 600px;
}

#lines-holder
{
  display: flex;
  flex-direction: column;
  transform: translate(20px, 30px);
}

#button
{
  margin-top: 10px;
  margin-left: 130px;
  background-color: #58fbce;
  font-family: KBSticktoIt;
  color: white;
  font-size: 25px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
}
