#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
  height: 700px;
  width: 75px;
  margin-left: 40%;
  color: rgba(255, 20, 147, 0.24);
  /*color: rgba(159, 146, 255, 0.64);*/
}

.pink {
  color: rgba(99, 177, 117, 0.71);
  /*color: rgba(255, 20, 147, 0.44);*/
}

i:hover {
  color: #58fbce;
}
